@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
    font-family: 'Montserrat', sans-serif;
}
html,body,.navigation,.breadcrumb,.header-navbar{
    font-family: 'Montserrat', sans-serif;
}
.mce-content-body {
    font-family: 'Montserrat', sans-serif !important;
}
.bg-gradient-x-info {
    background-image: -webkit-gradient(linear, left top, right top, from(#00c099), to(#9c76e3));
    background-image: -webkit-linear-gradient(left, #00c099 0%, #9c76e3 100%);
    background-image: -moz-linear-gradient(left, #00c099 0%, #9c76e3 100%);
    background-image: -o-linear-gradient(left, #00c099 0%, #9c76e3 100%);
    background-image: linear-gradient(to right, #00c099 0%, #9c76e3 100%);
    background-repeat: repeat-x;
}
.avatar-upload {
    position: relative;
    max-width: 205px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 20px;
}
.bg-primary {
    background-color: #727d7e !important;
}
.avatar-upload .avatar-edit {
    position: absolute;
    right: 12px;
    z-index: 1;
    top: 10px;
}
.avatar-upload .avatar-edit input {
    display: none;
}
.avatar-upload .avatar-edit input + label {
    display: inline-block;
    width: 34px;
    height: 34px;
    margin-bottom: 0;
    border-radius: 100%;
    background: #FFFFFF;
    border: 1px solid #37bc9b;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    font-weight: normal;
    transition: all 0.2s ease-in-out;
}
.avatar-upload .avatar-edit input + label:hover {
    background: #f1f1f1;
    border-color: #d6d6d6;
}
.avatar-upload .avatar-edit input + label:after {
    content: "\f040";
    font-family: 'FontAwesome';
    color: #757575;
    position: absolute;
    top: 5px;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
    font-size: 17px;
}
.avatar-upload .avatar-preview {
    width: 192px;
    height: 192px;
    position: relative;
    border-radius: 100%;
    border: 6px solid #37bc9b;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
.avatar-upload .avatar-preview > div {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.is-invalid .select2-selection{
    border-color: rgb(185, 74, 72) !important;
}
.required{
    color: #f65241;
}
label small{
    display: block;
    color: #8e8e8e;
}
.skin .radio_input{
    margin-right: 20px;
}
.skin .radio_input:last-child{
    margin-right: 0;
}
.nombre_mes{
    text-transform: capitalize;
}
.invisible{
   height: 0;
}
.visible{
    height: auto;
}
.btn-primary{
    border-color: #33ae93 !important;
    background-color: #33ae93 !important;
    color: #FFFFFF;
}
.btn-primary:hover {
    border-color: #227765 !important;
    background-color: #227765 !important;
    color: #FFF !important;
}
.date{
    text-transform: capitalize;
}
.select2{
    width: 100% !important;
}
.modal-body input[type=checkbox][disabled]:checked:after{
    display: block;
    content: "";
    background: #9679dc;
    height: 12px;
    width: 12px;
    margin-left: 2px;
}
.grid-hover figure {
    min-width: 320px;
    max-width: 480px;
    max-height: 260px;
    margin: 0;
}
figure.effect-bubba h2 {
    padding-top: 20%;
}
.grid-hover{
    margin: 0;
}
.carousel-item img{
    width: 100%;
}
#convocatorias_list .select2{
    width: 50% !important;
    margin-left: 10px;
}
.iframe-pago iframe{
    width: 100%;
    border: 0;
    height: 600px;
}
.dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
    color: #262626;
    text-decoration: none;
    background-color: #f5f5f5;
}
.icon-share:before {
    content: "\f56e";
    font-family: "Font Awesome 5 Free";
}
.dont-break-out {

    /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;

    -ms-word-break: break-all;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;

    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;

}
.custom-radio .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #00c39e;
}
.custom-control-input:checked ~ .custom-control-label::before {
    color: #fff;
    background-color: #00c099;
}
.label-control{
    /*font-weight: bold;*/
}
.main-menu.menu-dark .navigation {
    background: #727D7E;
}
.main-menu.menu-dark .navigation .navigation-header, .main-menu.menu-dark .navigation li a{
    color: #fff;
}
.main-menu.menu-dark .navigation > li.hover > a, .main-menu.menu-dark .navigation > li:hover > a, .main-menu.menu-dark .navigation > li.active > a {
    color: #fff;
    background-color: #00c099;
}
header-title {
    font-weight: 500;
    letter-spacing: 1px;
    color: #5E5E5E;
}
form .form-section {
    color: #5E5E5E;
    line-height: 3rem;
    margin-bottom: 20px;
    border-bottom: 1px solid #A5A5A5;
}
.app-content .wizard > .actions > ul > li > a[href="#previous"] {
    background-color: #727D7E;
    color: #fff;
    border: 1px solid #727D7E;
}
/******* Seccion de preguntas ***************/
.cargador_preguntas{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ffffffde;
    z-index: 10;
}
.cargador_preguntas .tit{
    font-size: 2rem;
    text-align: center;
    margin-top: 230px;
}
.preguntas .head{
    height: 70px;
}
.app-content .wizard > .steps{
    margin-bottom: 30px;
}
.preguntas .centrado{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.preguntas .list-group{
    border: 1px solid #E4E7ED;
    min-height: 400px;
    margin-bottom: 30px;
}
.preguntas .item{
    border-bottom: 1px solid #E4E7ED;
    padding: 10px 9px 10px 9px;
}
.preguntas .item .btn-sm{
    background: none;
    border: 0;
    font-size: 17px;
    padding: 5px;
}
.preguntas .item .fa-reorder{
    color: #dfdfdf;
}
.preguntas .item.titulo .fa-reorder{
    color: #dfdfdf;
}
.preguntas .item .fa-times-circle{
    color: #dfdfdf;
}
.preguntas .item.titulo .fa-times-circle{
    color: #dfdfdf;
}
.preguntas .sortable-drag{
    boder-bottom:none;
    background: #cbcbc8;
}

.preguntas .ghost-class{
    background: #b4b4b1;
}
.preguntas .titulo{
    background: #b1b1b1;
    color: #fff;
}
.preguntas .titulos{
    padding: 5px 10px;
    border: 0;
    background-color: #e5efff;
    font-weight: bold;
}
.preguntas .select2{
    margin-top: 10px;
    margin-bottom: 5px;
}
.preguntas .flecha{
    position: absolute;
    top: 500px;
    transform: translateX(-50%);
    cursor: auto !important;
}
.preguntas .campo_descripcion{
    font-style: italic;
    color: #8e8e8e !important;
    font-size: 11px;
    height: 25px;
    padding: 0;
    padding-bottom: 5px;
}
.navbar-semi-dark .navbar-header {
    background: #ffffff;
}
.app-content .wizard > .actions > ul > li.disabled > a[href="#previous"] {
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: #d0d0d0;
    border: 1px solid #d0d0d0;
}
/** Combo **/
.select2-container--classic .select2-results__options .select2-results__option[aria-selected=true], .select2-container--default .select2-results__options .select2-results__option[aria-selected=true] {
    background-color: #00c099 !important;
    color: #FFFFFF !important;
}
/** Steps **/
.app-content .wizard > .steps > ul > li.current .step {
    border-color: #00c099;
    background-color: #fff;
    color: #00c099;
}
.app-content .wizard > .steps > ul > li.done .step {
    background-color: #00c099;
    border-color: #00c099;
    color: #fff;
}
.app-content .wizard.wizard-circle > .steps > ul > li:before, .app-content .wizard.wizard-circle > .steps > ul > li:after {
    top: 43px;
    width: 50%;
    height: 5px;
    background-color: #00c099;
}
.app-content .wizard > .actions > ul > li > a {
    background: #00c099;
    color: #fff;
    display: block;
    padding: 7px 12px;
    border-radius: 2px;
    border: 1px solid transparent;
}
/**/
.invalid-feedback{
    display: block !important;
}
#snow-descripcion_corta .editor, #snow-descripcion .editor{
    height: 200px;
    overflow: auto;
}
#sortable .custom-control-label::before {
    position: relative;
}
.ql-editor p{
    margin-bottom: 1rem;
}
.pagination .page-item.active .page-link {
    border-color: #00c099;
    background-color: #00c099;
}
.pagination .page-link {
    color: #00c099;
    border: 1px solid #adb5bd;
}
.sharethis-inline-share-buttons .st-btn{
   display: inline-block !important;
}
.table-responsive td, table-responsive th{
    font-size: .9rem !important;
}